.atividades {
    background-color: var(--fundo-card);
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 1rem 5rem;
    border-radius: 0.5rem;
    padding: 0.8rem 0 0;
}

.atividades__titulo {
    color: var(--texto-principal);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.atividades__link {
    color: var(--primario);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 1rem 1rem;
}

.atividades__itens {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
}

.atividade__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--texto-secundario);
    font-size: 0.8rem;
    font-weight: 400;
}

.atividade__item:nth-child(1) {
    border-bottom: 1px solid var(--texto-secundario);
}

.atividade__descricao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.atividade__imagem {
    width: 4rem;
}

.atividade__texto {
    color: var(--texto-principal);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
}

.atividade__engajamento {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--texto-secundario);
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 0.3rem 0.8rem;
}

.atividade__reacoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}

.atividades__exibir-todas {
    color: var(--texto-secundario);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0;
    text-align: center;
    border-top: 1px solid var(--texto-secundario);
}